<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeadLock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DeadLock.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MetroColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RememberFormSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAdminWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
        </DeadLock.Properties.Settings>
    </userSettings>
</configuration>