<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeDead.UpdateManager" version="1.5.0" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="32.2.3" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="32.2.3" targetFramework="net48" />
</packages>